<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.NourishingGeniusStudent"
        tools:targetApi="31">
        <activity
            android:name=".ui.view.CaseStudy.CaseStudiesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.Career.CareerInfo"
            android:exported="false" />
        <activity
            android:name=".ui.view.FeedBack"
            android:exported="false" />
        <activity
            android:name=".ui.view.HelpDeskActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.EnrollmentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.Domain.DomainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.GetCounsellingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.IdentifyGeniusActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.Blog.BlogActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.Career.CareerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.DashBoardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Auth.ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".ui.Auth.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>